# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [26]:
import pandas as pd

try:
    data = pd.read_csv('C:/Users/MaCSC LLC/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [27]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [29]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [30]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [31]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [32]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [33]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [34]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [35]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [36]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [37]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [38]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [39]:
data.duplicated().sum()

54

In [40]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [41]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [42]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [43]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [44]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [45]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [46]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [47]:
dety = data.groupby('children')['debt'].sum() / data.groupby('children')['children'].count()
print(f'{round((dety*100),2)}')

children
0    7.54
1    9.23
2    9.45
3    8.18
4    9.76
5    0.00
dtype: float64

По результатам видно, что с увеличением количества детей в семьях, растет процент должников. Из многодетных наиболее ответственные семьи с 3 детьми.

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [48]:
temp = (data.groupby('family_status')['debt'].sum()/data.groupby('family_status')['family_status'].count()) 
#print(round((temp*100),2))
print(f'{round((temp*100),2)}')

#    print('Семейное полождение:', temp[i])

family_status
Не женат / не замужем    9.76
в разводе                7.06
вдовец / вдова           6.62
гражданский брак         9.29
женат / замужем          7.56
dtype: float64

markdown Самыми надежными заемщиками является группа "вдова/вдовец" и немного хуже группа "в разводе". Самыми плохими заемщиками выступают 2 группы - "не женат/не замужем" и "гражданский брак". Группа "женат/замужем" занимае среднее положение в надежности.

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [49]:
#print(data['total_income'].unique())
#print (data.info())
def category_loans(income):
    if 0<=income<=25000:
        return 'F looser (less 25000)'
    elif 25000<income<50000:
        return 'E low    (25000-50000)' 
    elif 50000<=income<100000:
        return 'D normal (50000-10000)'  
    elif 100000<=income<150000:
        return 'C middle (10000-150000) '    
    elif 150000<=income<200000:
        return 'B lucky  (150000-20000)'
    elif income>=200000:
        return 'A happy  (more 200000)'

data['category_loans_new'] = data['total_income'].apply(category_loans) 
print('Процент должников по категориям')
print((data.groupby('category_loans_new')['debt'].sum()/data.groupby('category_loans_new')['debt'].count())) 

print('')
print('Всего заемщиков по категориям')
#print[data.groupby('catogory_loans')['catogory_loans'].count()]
print(data.groupby('category_loans_new')['debt'].count())
print('')
print('Медианный доход по категориям. *Оценить, насколько правильно были выбраны категории')
print(data.groupby('category_loans_new')['total_income'].median())

Процент должников по категориям
category_loans_new
A happy  (more 200000)      0.070649
B lucky  (150000-20000)     0.085021
C middle (10000-150000)     0.086877
D normal (50000-10000)      0.081267
E low    (25000-50000)      0.060606
F looser (less 25000)       0.125000
Name: debt, dtype: float64

Всего заемщиков по категориям
category_loans_new
A happy  (more 200000)      5039
B lucky  (150000-20000)     4740
C middle (10000-150000)     7125
D normal (50000-10000)      4073
E low    (25000-50000)       363
F looser (less 25000)          8
Name: debt, dtype: int64

Медианный доход по категориям. *Оценить, насколько правильно были выбраны категории
category_loans_new
A happy  (more 200000)      257951.0
B lucky  (150000-20000)     172357.0
C middle (10000-150000)     127518.0
D normal (50000-10000)       81279.0
E low    (25000-50000)       43508.0
F looser (less 25000)        21795.0
Name: total_income, dtype: float64

Добавил отношение всех должников к заемщикам по категориям. Как видно, уровень доходя влияет на процент должников. 
У наименее обеспеченной категории F, с доходами менее 25000 (а медианная там 21000) должников 12,5%. 
У категории E, с доходами 25000-50000 самый низкий процент долников 6%. Это самые ответственные заемщики. 
Категории В, С, D -  с доходами 50000- 150000 процент должников 8.1..8.7%. Средний класс и самый многочисленный класс. Можно использовать как бенчмарк.
Категория А с доходами 20000+, процент должников 7%. Как видно, наличие высокого дохода не означает высокую ответственность перед кредитором.

Рекомендация: ограничить выдачу кредитов категории F.
Вывод: Самые ненадежный заемщик - это средний и средне-нормлаьный класс.

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [50]:
#print (data.groupby('purpose_category')['debt'].sum())
#print (data.groupby('purpose_category')['debt'].count())
print (data.groupby('purpose_category')['debt'].sum()/data.groupby('purpose_category')['debt'].count())

purpose_category
операции с автомобилем      0.093436
операции с недвижимостью    0.072531
получение образования       0.092504
проведение свадьбы          0.078744
Name: debt, dtype: float64

от 27-06-2022
Добывил отношение должников к заемщикам по целевым категориям кредита.
Задолженности по "операции с недвижимостью" - 7,2%
Задолженности по "проведение свадьбы" - 7,9%
Задолженности по "получение образования" - 9,2%
Задолженности по "операции с автомобилем" - 9,3%



от 23-06-2022 markdown Вывод! Наиболее безопасный кредит, это кредит на свадьбу. У нас люди любят гулять. Свадьба на Бали в кредит на 5 лет норма жизни))) Образование и операции с автомобилем примерно на одном уровне невозврата, а наиболее частый невозвратный кредит - это операции с недвижимостью.

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

кривой код, ошибки при выгрузке/склейке, созначельные пропуски при заполнении юзерами.

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

markdown Заполняя пропуски медианным значением мы можем сохранить запись в таблице для возмоности ее использования и при этом за счет медианного значения, отсутствует влияние на конечный результат.

## Общий вывод.

1. Дети отрицательно вляют на возврат долгов. 
2. Неустоявшиеся семейные категории (не женат/не замужем и гражданский брак) самые ненадежные заемщики. Разведенные или овдовевшие самые лучишие заемщики.
3. Доход влияет на процент должников. С низкими доходами (до 25000) самый большой процент невозврата. Обеспеченные также грешать задолженностью, несмотря на возможность платить в срок. Люди, в целом, халатно относятся к задолженности.
4. Также отличаеются целевым категориям кредита. Задолженности по "операции с недвижимостью" и "проведение свадьбы" наименьшие.

Вывод. Данные исследования мы рассматривали по отдельности и не учитывали взаимного влияния. Например мы не знаем, почему обеспеченные имеют задолженность 7%. На машину, образование или свадьбу данной категории, в целом, кредиты не требуются. Остается только недвижимость, значит 7% это проблемная недвижимость? Может это схематозы по выводуЮ отмывке и обналичке средств? Следовательно надо рассматривать группы не по отдельности, а комплексно. И в каждой группе по доходам (и добавть подгруппы образование и профессия) проводить ислледование. Тогда можно получить гораздо более точный результат.