# Наименование работы: Анализ оттока клиентов банка

Автор работы: Новиков И.В.
Контактная информация:
e-mail: nonentrysystem@inbox.ru
mob: 8-910-450-01-01

Описание работы:
Проанализируйте клиентов регионального банка и выделите сегменты клиентов, которые склонны уходить из банка.
- Проведите исследовательский анализ данных,
- Выделите портреты клиентов, которые склонны уходить из банка,
- Сформулируйте и проверьте статистические гипотезы.
*Проверьте гипотезу различия дохода между теми клиентами, которые ушли и теми, которые остались.*
*Сформулируйте и проверьте статистическую гипотезу относительно представленных данных*

Исходные данные: файл bank_dataset.csv
Объем: до 10тыс. записей
Размер: до 1 Mb
Тип датасета: CSV

Описание файла данных:
Датасет с данными о клиентах банка «Метанпром». 
Локации: города Ярославль, Ростов Великий, Рыбинск.

Наименование колонок и из описание:
- `userid` — идентификатор пользователя,
- `score` — баллы кредитного скоринга,
- `City` — город,
- `Gender` — пол,
- `Age` — возраст,
- `Objects` — количество объектов в собственности,
- `Balance` — баланс на счёте,
- `Products` — количество продуктов, которыми пользуется клиент,
- `CreditCard` — есть ли кредитная карта,
- `Loyalty` — активный клиент,
- `estimated_salary` — заработная плата клиента,
- `Churn` — ушёл или нет.

Предполагаемый план работы:

Выберите один из наборов:

Набор №1
1. Постройте диаграмму, отражающую количество клиентов в зависимости от числа используемых продуктов.
2. Добавьте индикатор процента ушедших клиентов.
3. Добавьте фильтр дашборда по городу.

Набор №2
1. Постройте диаграмму, отображающую распределение заработной платы клиентов.
2. Добавьте индикатор, отображающий процент клиентов, имеющих кредитную карту.
3. Добавьте фильтр дашборда, позволяющий выбрать ушёл клиент или нет.

# Наименование Этапа: Декомпозиция
Разбивка задачи проекта на шаги — обязательный этап, который принесёт вам 1 сторипойнт. Составив чёткий план решения задачи и утвердив его с тимлидом, вы избежите лишних доработок и сможете быстрее завершить проект.
Выполните декомпозицию в Jupyter Notebook. Используйте Markdown, чтобы лучше оформить и структурировать документ.
Тимлид может принять декомпозицию сразу, а может попросить её скорректировать или задать вопросы. Вы получите комментарии тимлида в отдельных ячейках вашего документа в течение 24 часов после отправки.

План работы:

1. Изучение датасета:
Цель - первичная информация подходит ли вообще датасет для анализа и что в нем за данные

2. Предобработка данных
- проверяем/ изменяем тип данных
- заполняем/ удаляем или оставляем пропуски
- удаляем явные и неявные дубликаты
- меняем названиям столбцов с загловной на строчную
- проверям результат

3. Проведем исследовательский анализ данных
- построим мартицу корреляции и определим признаки наиболее сильно влияющие на отток клиентов.

4. Выделем портреты клиентов, которые склонны уходить из банка по признакам из п.3

5. Формируем и проверяем статистические гипотезы (А/А и А/В тесты)

Выдвигаем гипотезы, и будем проверять:     
- Для разминки: Мужчины менее дисциплинорованы в своем выборе по сравненюм женщинами
- Клиенты с бысоким кредитным скорингом более стабильны
- В маленьких городах клиенты менее стабильнее (Ярославть - 600тыс.чел, Ростов Великий 28 тыс чел, Рыбинск 180тыс.чел) 
- Клиенты с 2 и более объектами в собственности более стабильны
- Клиенты без объектов собственности менее стабильны   
- Клиенты с денежными средствами на счету более стабильны
- Клинеты пользующиеся 2 и более продуктами более стабильны чем клиенты использующие 1 и менее продукт
- Клиенты с кредитной картой менее стабильны 
- Активные клиенты более стабильны чем неактивные
- Зарплатные клиенты реже уходят чем незарплатные
- Клиенты с высоким доходом более стабильны

6. Результаты исследования
- Признаки ухода
- Типы/категории клиентов склонные к уходу

7. Вывод (заключение)

# Этап 0. Подгружаем библиотеки

In [2]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from scipy import stats as st
import seaborn as sns

# Этап 1. Изучим датасет

In [3]:
df = pd.read_csv('C:/Users/MaCSC LLC/datasets/bank_dataset.csv')
display(df.head(5))
df.info()

,userid,score,City,Gender,Age,Objects,Balance,Products,CreditCard,Loyalty,estimated_salary,Churn
0,15677338,619,Ярославль,Ж,42,2,NaN,1,1,1,101348.88,1
1,15690047,608,Рыбинск,Ж,41,1,83807.86,1,0,1,112542.58,0
2,15662040,502,Ярославль,Ж,42,8,159660.80,3,1,0,113931.57,1
3,15744090,699,Ярославль,Ж,39,1,NaN,2,0,0,93826.63,0
4,15780624,850,Рыбинск,Ж,43,2,125510.82,1,1,1,79084.10,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   userid            10000 non-null  int64
 1   score             10000 non-null  int64
 2   City              10000 non-null  object
 3   Gender            10000 non-null  object
 4   Age               10000 non-null  int64
 5   Objects           10000 non-null  int64
 6   Balance           6383 non-null   float64
 7   Products          10000 non-null  int64
 8   CreditCard        10000 non-null  int64
 9   Loyalty           10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  Churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

In [4]:
print(df.isnull().sum()) 
print(' ') 
print('Полных дубликатов:', df.duplicated().sum())

userid                 0
score                  0
City                   0
Gender                 0
Age                    0
Objects                0
Balance             3617
Products               0
CreditCard             0
Loyalty                0
estimated_salary       0
Churn                  0
dtype: int64

Полных дубликатов: 0

In [5]:
print(df['City'].unique())
print(df['Gender'].unique())
print(df['Age'].max(),df['Age'].min()) 
print(df['Churn'].unique())

['Ярославль' 'Рыбинск' 'Ростов Великий']
['Ж' 'М']
92 18
[1 0]

Вывод по этапу 1: Данные пригодны для анализа. Информация выглядит корректной. Много опропусков в графе баланс.

# Этап 2. Предобработка данных

приведем названия столбцов к строчному виду и поставим заглушки на пропуски Balance

In [6]:
df.columns = df.columns.str.lower()
df['balance'] = df['balance'].fillna(-5)

In [7]:
print(df.isnull().sum())

userid              0
score               0
city                0
gender              0
age                 0
objects             0
balance             0
products            0
creditcard          0
loyalty             0
estimated_salary    0
churn               0
dtype: int64

Вывод по этапу 2. Данные не нуждаются в предобработке.

Предварительные вывод по этаку декомпозиции: Даннае пригодны для анализа